*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background-color: #2A3545
}
/* --------------------------------------Start Main Rulez--------------------------------------------*/
.container{   width: 1170px;  margin: auto; padding: 0}
.clear{clear: both} 

.h3{font-size: 25px; font-weight: bold; display: inline-block; margin: 20px }
/*----------------------------------------------End Main Rulez-----------------------------------------*/
/*---------------------------------------------Start navbar--------------------------------------------*/
.navgbar {
	background-color: #ffffff;
	color: #F16541;   
	box-shadow:0 2px 2px rgba(0,0,0,0.3);
	width: 100%;	
}
.navgbar img {float: left;  margin: 15px auto;  width: 95px; height: 25px}

.navgbar ul {
    list-style: none;
    padding:15px 0px;
  
    float:right;
    
  }
.navgbar ul > li {float: left; padding:  0 10px 10px 20px ; } 
.navgbar ul > li > a {color: #F16541;   text-decoration: none; padding-bottom: 20px}
.navgbar ul > li.active > a,
.navgbar ul > li:hover > a { color:#000; border-bottom: 4px solid #F16541; cursor: pointer;}
.navgbar ul > li span{ color: #FFF;
	background: #E0000B ;
	border-radius: 50%; 
	padding: 3px;  
	position: relative; 
	top :-8px; 
	left: -2px 
}
.navgbar .menu{ position: relative; }
.navgbar .menu:hover .sub-menu {
	display: block;
}
.navgbar .menu .sub-menu {
	list-style: none;
 	position: absolute; 
 	color: #F00; 
 	top:30px; 
 	left: -7px;
	background: #FFF;
	padding-bottom: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0 , 0, 0, 0.5);
	display: none;
 }
 .navgbar .menu .sub-menu li{ padding-right: 20px }
  .navgbar .menu .sub-menu li:hover a {color: #000; cursor: pointer; border: none;}
 .navgbar .menu .sub-menu:before{
 	content: "";
 	width:0; 
 	height:0; 
 	border-left: 6px solid transparent;
 	border-right: 6px solid transparent;
 	border-bottom: 6px solid #F00;
 	position: absolute;
 	top:-6px;
 	left: 30px
 }
/*---------------------------------------------End navbar--------------------------------------------*/
/*---------------------------------------------Start Cover--------------------------------------------*/
.cover{
	padding: 0;
	margin: 0;
	height: 400px;
	color: #FFF
}
.default_photo-cover{
	height: 330px;
	background:url(../image/cover.jpg) no-repeat center center ;
	background-size: cover;
}
	
.Profilee{
	text-align: center;
	margin-top: 70px
}

.Profilee .profile{
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.Profilee .online{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #66B34F;
	border: 1px solid #FFF;
	display: inline-block;
	margin: 0 3px;
}
.Profilee .email{
	margin-top: -7px ;
	margin-bottom: 22px
}

.followers span{
	margin-top: 20px !important;
	padding: 8px 25px;
	border-radius: 15px;
	background:rgba(74,74,74,0.8); 
}
.message span{
	font-size: 26px;
	background: rgba(0,0,0,0.5);
	padding: 5px 40px;
	border-radius: 25px;
    position: absolute;
    top: 85px;
    right: 95px;
    color: #F16541;
    cursor: pointer;
}
.message span:hover{
	background: rgba(255,255,255,.9);
	padding: 5px 40px;
}
.likes{
	background-color: #ffffff;
	text-align: center;
}

.likes a{
	text-decoration: none;
	color: #F16541
}
.likes span{
	color: #4a4a4a
}
.likes ul {list-style-type: none;}
.likes ul li { float: left; width: 33.3333%;  padding-bottom: 10px; cursor: pointer;}
.likes ul li strong { color: #F16541;font-size: 15px }
.activee{
	border-bottom: 3px solid #F16541
}

/*---------------------------------------------Start post--------------------------------------------*/
.post {background-color: #FFF}
.post section {border-top: 6px solid #EDEEF2;  }
.post .question a {color: #4080D8; display: inline-block;}
.post .answer img {
	float: left;
	width: 8%;
	border-radius: 50%;
	margin:  2%
}
.post .answer p {width: 80%; display: inline-block; margin-bottom: 20px }
.post .answer  span{display: block; margin: 20px; color: #C0C0C0;}
.post footer{
	height: 20px;
	background-color: #ffffff;
	padding: 10px;
	border-top:  2px solid #EDEEF2
}
.post footer i {
	margin: 1% 7%;
	color: #c0c0c0;
}
.post footer i:hover{
	  cursor: pointer;
}
.post footer i:active {color: #FF643C}
.post footer .one {
  float: left;
  width: 80%;
}
.post footer .two {
  float: right;
  width: 20%;
}
.gift{ text-align: center; margin-top: 20px ;display: none;}
.gift img { width: 25%; height: 25%;  border-radius: 50% ;}
/*---------------------------------------------End post-------------------------------------------*/
/*---------------------------------------------Start ask-------------------------------------------*/
.ask{background-color: #FFFFED; margin-bottom: 20px}
.ask textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 150px
}
input[type="checkbox"] {
	margin-bottom:  20px;
}
.ask .btn{
	background-color: #FF643C;
	border: none;
	float: right;
	height: 30px;
	color: #FFF;
	border-radius: 10px;
	line-height: 15px
}
.about {padding: 10px ; float: right;}
.about h3{ font-weight: bold; font-size: 19px }
.about > div  { margin-top: 20px }
/*---------------------------------------------End ask-------------------------------------------*/

/*=========================================================================================*/
/* Start Media Query */
@media (max-width: 767px) { /* Mobile & Tablet Rules */
   
}
@media (min-width: 768px) and (max-width: 991px) { /* Small Screen Rules */
   
}
@media (min-width: 992px) and (max-width: 1199px) { /* Medium Screen Rules */
   
}
@media (min-width: 1200px) { /* Large Screen Rules */
   
}
/* End Media Query */