*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background-color: #2A3545
}
/* --------------------------------------Start Main Rulez--------------------------------------------*/
.container{   width: 1170px;  margin: auto;}
.clear{clear: both} 
.h3{font-size: 25px; font-weight: bold; display: inline-block; margin: 20px }
/*----------------------------------------------End Main Rulez-----------------------------------------*/
/*---------------------------------------------Start navbar--------------------------------------------*/
.navgbar {
	background-color: #ffffff;
	color: #F16541;   
	box-shadow:0 2px 2px rgba(0,0,0,0.3);
	width: 100%;
	margin-bottom: 50px;
	
}
.navgbar img {float: left;  margin: 15px auto;  width: 95px; height: 25px}

.navgbar ul {
    list-style: none;
    padding:15px 0px;
  
    float:right;
    
  }
.navgbar ul > li {float: left; padding:  0 10px 10px 20px ; } 
.navgbar ul > li > a {color: #F16541;   text-decoration: none; padding-bottom: 20px}
.navgbar ul > li.active > a,
.navgbar ul > li:hover > a { color:#000; border-bottom: 4px solid #F16541; cursor: pointer;}
.navgbar ul > li span{ color: #FFF;
	background: #E0000B ;
	border-radius: 50%; 
	padding: 3px;  
	position: relative; 
	top :-8px; 
	left: -2px 
}
.navgbar .menu{ position: relative; }
.navgbar .menu:hover .sub-menu {
	display: block;
}
.navgbar .menu .sub-menu {
	list-style: none;
 	position: absolute; 
 	color: #F00; 
 	top:30px; 
 	left: -7px;
	background: #FFF;
	padding-bottom: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0 , 0, 0, 0.5);
	display: none;
 }
 .navgbar .menu .sub-menu li{ padding-right: 20px }
  .navgbar .menu .sub-menu li:hover a {color: #000; cursor: pointer; border: none;}
 .navgbar .menu .sub-menu:before{
 	content: "";
 	width:0; 
 	height:0; 
 	border-left: 6px solid transparent;
 	border-right: 6px solid transparent;
 	border-bottom: 6px solid #F00;
 	position: absolute;
 	top:-6px;
 	left: 30px
 }
/*---------------------------------------------End navbar--------------------------------------------*/
/*---------------------------------------------Start post--------------------------------------------*/
.post {background-color: #FFF}
.post section {border-top: 1px solid #DDD;  }
.post section:hover{background-color: #F2F3F7}
.icon{ float: right; width: 10% }
.post .filter ul{
	list-style-type: none;
}
.post .filter ul li{
	text-align: center;
	display: inline-block;
	float: left;
	width: 25%;
	padding:0 0 10px 0;
	cursor: pointer;
}
.post .filter ul li.active{ border-bottom: 3px solid #FF643C; color: #000 }
.icon{color:#FF643C; padding-top: 5px; text-align: center;}
.post section a { margin-top: 30px }
.post section a span{
    display: inline-block;
}
.post section a span:nth-of-type(1){
	font-size: 15px;
	color: #000;
	font-weight: bold;
	padding-left: 10px
}
.post section img{
	
	width: 10%;
	height: 10%;
	margin: 10px auto;
	border-radius: 50%
}

/*---------------------------------------------Start ask-------------------------------------------*/
.ask{background-color: #FFFFED; margin-bottom: 20px}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 150px
}
input[type="checkbox"] {
	margin-bottom:  20px;
}
.ask .btn{
	background-color: #FF643C;
	border: none;
	float: right;
	height: 30px;
	color: #FFF;
	border-radius: 10px
}
.tags{padding: 20px 10px;}
.tags a {padding: 7px; }

/*---------------------------------------------End ask-------------------------------------------*/

/*=========================================================================================*/
/* Start Media Query */
@media (max-width: 767px) { /* Mobile & Tablet Rules */
   
}
@media (min-width: 768px) and (max-width: 991px) { /* Small Screen Rules */
   
}
@media (min-width: 992px) and (max-width: 1199px) { /* Medium Screen Rules */
   
}
@media (min-width: 1200px) { /* Large Screen Rules */
   
}
/* End Media Query */